/*	Calculator.css
	CSS external file for Calculator.html
*/

/* adds background-color to the entire HTML document */
body {
	background-color: #3E88E3;
}

/* styles the div containing all*/
#main {
	width: 300px;
    height: 400px;
    background: #CCCCCC;
    margin: 50px auto;
}

/* CSS for the screen of the calculator*/
textarea {
	width: 90%;
	margin-top: 15px;
	border: 0;
	margin-left: 15px;
	padding-top: 20px;
	overflow: hidden;
	resize: none;
	text-align: right;
	font-size: 20px;
	letter-spacing: 2px;
	color: #DD0000;
	border-radius: 5px;
}

#row-one {
	margin-bottom: 20px;
    position: relative;
    top:10px;
}

.row {
	width:300px;
    margin-top:10px;
}

#del {
	width: 50px;
    height: 20px;
    margin-left: 15px;
    border-radius: 6px;
}

/* styling for the buttons of the calculator */
.btn-style {
	width: 50px;
    height: 50px;
	margin-left: 18px; 
    border-radius: 4px;
	background: #050505;
    color: #FFFFFF;
    font-size: 20px;
	border: 1px solid #CCCCCC;
}

/* addition styling for delete,equal to and addition buttons */
.spec {
	width: 50px;
    height: 50px;
	margin-left: 18px; 
    border-radius: 4px;
	background: #FF0000;
    color: #000000;
    font-size: 20px;
	border: 1px solid #CCCCCC;
}

/* mouse hover style for the buttons*/
.btn-style:hover {
	background-color: #DDEE78;
}